<%= javascript_include_tag 'angular_dates_manager_appp'%>

<div id="thread-header-other-entries-container" ng-cloak>
  <div id="selected-events-container"></div>

  <div id="dates-suggestion-manager" class="time-slots-to-suggest-list-container" ng-controller="datesSuggestionsManager as datesSuggestionsMng" ng-show="displayDatesSuggestionManager">
    <div class="time-slots-to-suggest-list">
      <%= label_tag :dates_suggestion_timezone, @messages_thread.computed_data[:is_virtual_appointment] ? I18n.t("info_box.timezone_for_virtual") : I18n.t("info_box.timezone_for_physical"), {class: 'dates-suggestion-timezone-label'} %>
      <%= text_field_tag :dates_suggestion_timezone, @messages_thread.computed_data[:timezone] %>
      <div class="time-slots-to-suggest-title">Dates proposées</div>
      <div class="ai-area">
        <span class="ai-loader-area" ng-show="showAiLoader">
          <span class="ai-loader"></span>
          <span class="loader-text">Jul.IA réfléchie</span>
        </span>
        <span class="warning-area" ng-show="showAiWarning">
          <span class="ai-warning-sprite"></span>
          <span class="ai-warning" >{{aiWarningMessage}}</span>
        </span>
        <span class="error-area" ng-show="showAiError">
          <span class="ai-error-sprite"></span>
          <span class="ai-error" >{{aiErrorMessage}}</span>
        </span>
      </div>
      <div class="time-slots-to-suggest-outbound-count" ng-show="displayOutBoundCount()">{{outBoundSuggestionsCount}} proposition(s) anormale(s) détectée(s)</div>
      <div class="dates-suggestions-wrapper">
        <div class="timezoned-suggestions-area" ng-repeat="(timezone, suggestions) in timeSlotsSuggestions">
          <div class="timezone-title">{{timezone}}</div>

          <div class="btn btn-sm btn-block time-slot-to-suggest" data-date-time="{{suggestion.value.format()}}" ng-class="{'btn-danger':suggestion.isOutBound, 'btn-primary':!suggestion.isOutBound, 'from-ai':suggestion.fromAi && !suggestion.accepted, 'highlighted':suggestion.isHighlighted}" ng-repeat="suggestion in suggestions" ng-mouseenter="mouseEnterSuggestionNode(suggestion)" ng-mouseleave="mouseLeaveSuggestionNode(suggestion)">
            <div class="date-text">{{suggestion.displayText}}</div>
            <div class="ai-suggestion-action-wrapper" ng-show="suggestion.fromAi && !suggestion.accepted">
              <div class="ai-suggestion-action-item-container reject"><span class="ai-suggestion-action reject"></span></div>
              <div class="ai-suggestion-action-item-container accept"><span class="ai-suggestion-action accept"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dates-suggestions-from-ai-remaining-warning" ng-show="aiSuggestionsRemaining()">Validez ou invalidez les propositions de l’AI avant envoi</div>
      <div class="btn btn-block btn-success suggest-dates-next-button" ng-disabled="nextBtnDisabled()">Next</div>
    </div>
  </div>

  <%= render partial: "messages_threads/dates_identification_panel", locals: {messages_thread: @messages_thread} %>

</div>


