<%= javascript_include_tag 'angular_dates_manager_appp'%>

<div id="thread-header-other-entries-container" ng-cloak>
  <div id="selected-events-container"></div>

  <div id="dates-suggestion-manager" class="time-slots-to-suggest-list-container" ng-controller="datesSuggestionsManager as datesSuggestionsMng" ng-show="displayDatesSuggestionManager">
    <div class="time-slots-to-suggest-list">
      <div ng-hide="doNotAskSuggestionsMode">
        <%= label_tag :dates_suggestion_timezone, @messages_thread.computed_data[:is_virtual_appointment] ? I18n.t("info_box.timezone_for_virtual") : I18n.t("info_box.timezone_for_physical"), {class: 'dates-suggestion-timezone-label'} %>
        <%= text_field_tag :dates_suggestion_timezone, @messages_thread.computed_data[:timezone] %>
      </div>

      <div ng-hide="doNotAskSuggestionsMode || trustMode == 'trusted'" class="time-slots-to-suggest-title">Dates proposées</div>
      <div ng-show="trustMode == 'trusted'" class="time-slots-to-suggest-title purple">
        <label class="julia-icon"></label>
        Dates proposées par Jul.IA
      </div>
      <div class="aiSuggestion" ng-show="doNotAskSuggestionsMode && timeSlotsSuggestedByAi.length > 0" class="time-slots-to-suggest-title">Suggestions de l'AI</div>
      <div class="ai-area">
        <span class="ai-loader-area" ng-show="showAiLoader">
          <span class="ai-loader"></span>
          <span class="loader-text">Jul.IA réfléchie</span>
        </span>
        <span class="warning-area" ng-show="showAiWarning">
          <span class="ai-warning-sprite"></span>
          <span class="ai-warning" >{{aiWarningMessage}}</span>
        </span>
        <span class="error-area" ng-show="showAiError">
          <span class="ai-error-sprite"></span>
          <span class="ai-error" >{{aiErrorMessage}}</span>
        </span>
      </div>
      <div class="time-slots-to-suggest-outbound-count" ng-show="displayOutBoundCount()">{{outBoundSuggestionsCount}} proposition(s) anormale(s) détectée(s)</div>
      <div class="dates-suggestions-wrapper">
        <div class="timezoned-suggestions-area" ng-repeat="(timezone, suggestions) in timeSlotsSuggestions">
          <div class="timezone-title">{{timezone}}</div>

          <div class="btn btn-sm btn-block time-slot-to-suggest"
               data-date-time="{{suggestion.value.format()}}"
               ng-class="{'btn-danger':suggestion.isOutBound, 'btn-primary':!suggestion.isOutBound, 'from-ai':suggestion.fromAi && !suggestion.accepted, 'highlighted':suggestion.isHighlighted}"
               ng-repeat="suggestion in suggestions" ng-mouseenter="mouseEnterSuggestionNode(suggestion, $event)"
               ng-mouseleave="mouseLeaveSuggestionNode(suggestion, $event)">
            <div class="date-text">{{suggestion.displayText}}</div>
            <div class="ai-suggestion-action-wrapper" ng-show="suggestion.fromAi && !suggestion.accepted">
              <div class="ai-suggestion-action-item-container reject" ng-class="{'highlight':suggestion.highlightReject}" ng-mouseenter="mouseEnterSuggestionNode(suggestion, $event)" ng-mouseleave="mouseLeaveSuggestionNode(suggestion, $event)"><span class="ai-suggestion-action reject"></span></div>
              <div class="ai-suggestion-action-item-container accept" ng-class="{'highlight':suggestion.highlightAccept}" ng-mouseenter="mouseEnterSuggestionNode(suggestion, $event)" ng-mouseleave="mouseLeaveSuggestionNode(suggestion, $event)"><span class="ai-suggestion-action accept"></span></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="trustMode == 'trusted'" class="alert-custom alert-danger">
        <p>Je souhaite ouvrir le calendrier car ces dates:</p>
        <br>
        <form>
          <div class="form-group">
            <select ng-model="reasonToOpenCalendarWhenTrustingJulia"
                    class="form-control">
              <option ng-repeat="reason in possibleReasonsForOpeningCalendarWhenTrustingJulia"
                      value="{{ reason.value }}">{{ reason.label }}
              </option>
            </select>
          </div>

          <div class="form-group"
               ng-show="reasonToOpenCalendarWhenTrustingJulia == 'other'">
            <input
            ng-model="reasonDetailsToOpenCalendarWhenTrustingJulia"
            placeholder="Merci de préciser la raison"
            class="form-control"
            />
          </div>

          <div class="form-group">
            <div class="btn btn-success btn-full nomargin"
                 ng-disabled="!reasonToOpenCalendarWhenTrustingJulia || (reasonToOpenCalendarWhenTrustingJulia == 'other' && !reasonDetailsToOpenCalendarWhenTrustingJulia)"
                 ng-click="forceManualCheckWhenTrustingJulia()"
            >Open calendar
            </div>
          </div>
        </form>
      </div>


      <div ng-hide="doNotAskSuggestionsMode">
        <div class="dates-suggestions-from-ai-remaining-warning" ng-show="ModeaiSuggestionsRemaining()">Validez ou invalidez les propositions de l’AI avant envoi</div>
        <div class="btn btn-block btn-success suggest-dates-next-button" ng-disabled="nextBtnDisabled()" ng-hide="trustMode == 'trusted'">Next</div>
      </div>
    </div>
  </div>

  <%= render partial: "messages_threads/dates_identification_panel", locals: {messages_thread: @messages_thread} %>

</div>


