<%= javascript_include_tag 'angular_AI_manager_app' %>

<div id="AI_manager">
  <div id="locale_manager" ng-controller="localeManager"></div>
  <div id="appointment_type_manager" ng-controller="appointmentTypeManager"></div>
  <phone-skype-entities-manager/>
</div>