
<h2>Dashboard</h2>
<br>

<div class="row">
  <div class="col-md-5">
    <h3>Emails</h3>
    <br><br>
    <%= link_to I18n.t("emails_to_handle", count: @messages_threads_count), :messages_threads, class:"btn #{(@messages_threads_count==0)?"btn-success":"btn-warning"}" %>
  </div>
  <div class="col-md-5">
    <h3>Events</h3>
    <br><br>
    <%= link_to I18n.t("events_to_classify", count: @events_count), :events, class:"btn #{(@events_count==0)?"btn-success":"btn-warning"}" %>
  </div>
</div>