
<h2>Dashboard</h2>
<br>

<div class="row">
  <div class="col-md-5">
    <h3>Emails</h3>
    <br><br>
    <%= link_to "Emails", :emails_url, class:"btn btn-success" %>
  </div>
  <div class="col-md-5">
    <h3>Events</h3>
    <br><br>
    <%= link_to "Events", :events_url, class:"btn btn-success" %>
  </div>
</div>