
<h2>Dashboard</h2>
<br>

<div class="row">
  <div class="col-md-5">
    <h3>Emails</h3>
    <br><br>
    <%= link_to "Emails", :emails, class:"btn btn-success" %>
  </div>
  <div class="col-md-5">
    <h3>Events</h3>
    <br><br>
    <%= link_to "#{Event.where(classification: nil).count} events to classify", :events, class:"btn btn-warning" %>
  </div>
</div>