<%= javascript_include_tag 'angular_utilities' %>
<div id="angular_utilities">
  <div id="events_availabilities_methods" ng-controller="eventsAvailabilitiesMethods"></div>
  <div id="appointment_times_constraints_helper" ng-controller="appointmentsTimesConstraintsHelper"></div>
</div>