<div class="operator-greetings">
  Hey <%= session[:user_username]%>, I hope you are having a good day!
  <br>
  You have dealt with <span class="metric"><%= @operator_greetings_stats[:requests_handled_today_count]%></span> requests today, making <span class="metric"><%= @operator_greetings_stats[:happy_customer_count]%></span> happy customers.

  Your average productivity per hour today is <span class="metric"><%= @operator_greetings_stats[:productivity_per_hour_today]%></span>
</div>