<script>
  $(function() {
      $("#back-button").click(function() {
          if(window.clickBackButton) {
              window.clickBackButton();
          }
          else {
              clickBackButtonDefault();
          }
      });
  });
  function clickBackButtonDefault() {
      window.history.back();
  }
</script>
<%= render template: "messages/classifications_form/#{@classification}" %>

<div class="row">
  <div class="email-column col-md-9">

    <div class="messages-thread-emails">

      <div id="back-button" class="btn btn-link">< Back</div>

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <% @messages_thread.messages.each do |message| %>
          <%= render partial: "messages_threads/email", locals: {message: message, highlight: message.id == @message.id} %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "messages_threads/info_panel", locals: {messages_thread: @message.messages_thread} %>

