$appointmentTypeHeaderColor: #F3F7FD;
$appointmentTypeBodyColor: #F9FBFE;

$freeNotesHeaderColor: #FDFBF1;
$freeNotesBodyColor: #FEFDF8;

$durationHeaderColor: #F1F9F5;
$durationBodyColor: #F8FCFA;

$callInstructionsLocationHeaderColor: #FFFDF3;
$callInstructionsLocationBodyColor: #FFFEF9;

$attendeesHeaderColor: #F1F9FD;
$attendeesBodyColor: #F8FCFE;

$constraintsHeaderColor: #FDF3F3;
$constraintsBodyColor: #FEF9F9;

$parametersHeaderColor: #F7F6F6;
$parametersBodyColor: #FEFEFE;

$resourcesHeaderColor: #F9F7F3;
$resourcesBodyColor: #FCFBF9;