.idea/
tmp
*.env
log
*.sqlite3
public/assets
config/database.yml
/config/deploy/*.rb
*.DS_Store
dump.rdb
test.sh
coverage
script/start_resque.sh
script/stop_resque.sh
/node_modules
/nbproject
doc/*.html
config/database-ey.yml
config/database-jd.yml
config/database-release.yml
public/assets*