.idea/
tmp
log
*.sqlite3
public/assets
/config/deploy/*.rb
*.DS_Store
dump.rdb
test.sh
coverage
script/start_resque.sh
script/stop_resque.sh
/node_modules
/nbproject
doc/*.html
public/assets*
/public/packs
/public/packs-test
/public/packs-ey
/public/packs-sg
/node_modules
yarn-debug.log*
.yarn-integrity
dependency-check-report.html/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
yarn-error.log*
.yarn-integrity
dependency-check-report.html