.idea/
tmp
*.env
log
*.sqlite3
public/assets
config/database.yml
config/database-*.yml
/config/deploy/*.rb
*.DS_Store
dump.rdb
test.sh
coverage
script/start_resque.sh
script/stop_resque.sh
/node_modules
/nbproject
doc/*.html
public/assets*
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
