<div class="attendee-text">
    <div class="attendee-name">{{ displayName }}</div>
    <div class="attendee-email">{{ email }} {{#if is_organizer}}(ORGANIZER){{/if}}</div>
    <div class="attendee-status">{{ responseStatus }}</div>
    <div class="remove-attendee-button">
        <img/>
    </div>
</div>