<div class="event-tile-container">

    <div class="event-tile-panel">
        <span class="copy-event-data-btn" title="Copier les infos"><img/></span>

        <input class="title"/>

        <div class="date-container">
            <div class="date-icon"></div>
            <div class="date">
                <div class="date-text"></div>
                <div class="event-date-edit-container">
                    <input class="start-date event-dates" type="date"/>
                    <span class="hours-and-minutes">
                    <input class="start-hours event-dates" type="text"/>h<input class="start-minutes event-dates"
                                                                                type="text"/>
                        </span>
                </div>

                <div class="event-date-edit-container">
                    <input class="end-date event-dates" type="date"/>
                    <span class="hours-and-minutes">
                        <input class="end-hours event-dates" type="text"/>h<input class="end-minutes event-dates"                                                        type="text"/>
                    </span>
                </div>
                <div class="date-all-day-container">
                    <input type="checkbox" class="event-date-all-day"/> All day event
                </div>
                <div class="event-date-edit-container">
                    <input type="text" class="event-timezone-picker"/>
                    <input type="text" class="event-timezone-for-end-date-picker"/>
                </div>
            </div>
        </div>

        <div class="border"></div>

        <div class="location-container">
            <div class="location-icon"></div>
            <div id="event_tile_location_selector"></div>
            <input class="location" id="event_location"/>

            <div class="create-event-restaurant-booking-manager" style="display:none;">
                <div class="create-event-restaurant-booking-manager-wrapper" style="display:none;">
                    <div class="checkbox-header">
                        <input type="checkbox" class="using-restaurant-booking-checkbox"><span>Réservation de restaurant <span class="sprite"></span></span>
                    </div>
                    <div class="restaurant-booking-selection-area">
                        <span class="text">Participants:</span>
                        <select class="create-event-restaurant-booking-selection-select form-control"></select>
                    </div>
                </div>
            </div>

            <div class="create-event-meeting-rooms-wrapper" style="display: none;">
                <div class="create-event-meeting-rooms-container" style="display:none;">
                    <div class="header">
                        <input type="checkbox"><span class="text">Réservation de salle de réunion</span>
                    </div>
                    <div class="selection-area">
                        <select class="create_event_room_selection_select form-control"></select>
                        <div class="meeting_room_warning_area warning-area">
                            <span class="sprite"></span><span class="meeting_room_non_available_msg text">Salle de réunion non disponible</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="virtual-resources-details-container" style="display: none;width: 108%;">
                <div class="warning-area">
                    <span class="sprite"></span><span class="virtual-resources-non-available-msg"></span>
                </div>
            </div>

        </div>

        <div class="border hide-if-ai-event-interpretation"></div>

        <div class="border ai-event-interpretation"></div>

        <div class="ai-event-interpretation ai-event-interpretation-container">
          <div class="ai-indicator">
            <span class="glyphicon glyphicon-tag"></span>
          </div>
          <input class="ai-event-type"/>
        </div>

        <div class="ai-event-interpretation ai-event-interpretation-container">
            <div class="ai-indicator">
              <span class="glyphicon glyphicon-map-marker"></span>
            </div>
            <input class="ai-sanitized-location"/>
        </div>


        <div class="ai-event-interpretation ai-event-interpretation-container only-all-day">
          <div class="ai-indicator">
            <span class="glyphicon glyphicon-fullscreen"></span>
          </div>
          <input class="ai-location-indication"/>
        </div>


        <div class="ai-event-interpretation ai-event-interpretation-container only-all-day">
          <div class="ai-indicator">
            <span class="glyphicon glyphicon-globe"></span>
          </div>
          <input class="ai-timezone-indication"/>
        </div>

      <div class="ai-event-interpretation ai-event-interpretation-container only-all-day">
        <div class="ai-indicator">
          <span class="glyphicon glyphicon-minus-sign"></span>
        </div>
        <input class="ai-availability"/>
      </div>

      <div class="border ai-event-interpretation"></div>




        <div class="attendees-container">
            <div class="attendees-icon">
                <div class="attendees-count-badge">0</div>
            </div>

            <div class="attendees">
                <div class="add-attendee-container">
                    <input type="text" id="add_attendee_input"/>

                    <div class="add-attendee-button">add</div>
                  <div class="error-area">
                    <div id="email-invalid">Adresse email non autorisée</div>
                  </div>
                </div>
                <div class="attendees-list"></div>
            </div>
        </div>

        <div class="border"></div>

        <div class="notes-container">
            <div class="notes-icon"></div>
            <textarea class="notes"></textarea>
        </div>

        <div class="border"></div>

        <div class="recurrence-link-container">
            <div class="recurrence-icon"></div>
            <span class="recurrence-text"></span>
            <img class="recurrence-go-button"/>
        </div>

        <div class="event-from-invitation-container">
            <div class="text"></div>
        </div>

        <div class="event-created-from-ai">
          <div class="text">
            Evénement créé par Jul.IA
          </div>
        </div>
    </div>


    <div class="event-edit-buttons">
        <div id="event-edit-button">Edit</div>
        <div id="event-delete-button">Delete</div>
        <div id="event-select-button">Select</div>
        <div id="event-cancel-button">Cancel</div>
        <div id="event-save-button">Save</div>
    </div>

    <div class="technical-info"></div>

    <div class="spinner-container">
        <img class="event-spinner"/>
    </div>

    <div class="event-does-not-exist-container">
        Event does not exists
    </div>

    <div class="minimize-button">Expand / Minimize</div>

    <div class="recurrence-container">
        <div class="recurrence-title">
            <img class="recurrence-back-button"/>
            Recurrence
        </div>
        <textarea class="recurrence-rule"/>
        <div class="recurrence-form-container"></div>

        <img class="recurrence-spinner"/>
    </div>

    <div class="recurrence-confirm-container">

    </div>
</div>