<div class="recurrence-confirm-popup">
    <div class="message">
        <span class="message-situation"></span><br>
        <span class="message-question"></span>
    </div>
    <div class="recurrence-confirm-all-occurrences-button recurrence-confirm-button"></div>
    <div class="recurrence-confirm-this-occurrence-button recurrence-confirm-button"></div>
    <div class="recurrence-confirm-cancel-button recurrence-confirm-button"></div>
</div>