<div class="attendees-are-noticed-panel">

  <div class="attendees-are-noticed-panel-title"><%= I18n.t("info_box.are_attendees_noticed")%></div>
  <div class="yes-no-buttons-container">
    <div class="no-button btn btn-default"><%= I18n.t("common.sno") %></div>
    <div class="yes-button btn btn-success"><%= I18n.t("common.syes") %></div>
  </div>
</div>