<div class="messages-thread-container">

    <a href="/messages_threads/{{ messagesThread.id}} " class="messages-thread-item" data-id="{{ messagesThread.id}}" ng-init="threadStatusInfos = formatThreadStatus(messagesThread.status); operatorInfos = determineOperatorPresence(messagesThread.last_operator_id); labelInRowInfos = labelInRow(messagesThread);accountLifeDurationPriorityClass = getPriorityClassFromAccountLife(messagesThread.account.current_life_duration_in_days); todayRequestsCountPriorityClass = getPriorityClassFromTodayRequestsCount(messagesThread.account.threads_count_today); labelsClasses =  manageLabelsDisplay(accountLifeDurationPriorityClass, todayRequestsCountPriorityClass)">
        <div class="messages-thread-lock-container" ng-show="messagesThread.locked_by_operator_id"><span class="locked-by-name">Being processed by {{ messagesThread.locked_by_operator_name }}</span></div>

      <div class="scheduled-for-today" ng-if="scheduledForToday(messagesThread)"><span class="sprite"></span><span class="text">Today</span></div>

      <div class="first-row">

        <div class="account-email">
          <span ng-show="messagesThread.account">{{ messagesThread.account.full_name || messagesThread.account.email }}</span>
          <span ng-hide="messagesThread.account"><%= I18n.t("info_box.no_account_found") %></span>
        </div>

        <div class="account-life-duration {{ labelsClasses[0] }}" ng-if="messagesThread.account.current_life_duration_in_days">{{ formatAccountLifeDuration(messagesThread.account.current_life_duration_in_days) }}</div>

        <div class="requests-count-for-today {{ labelsClasses[1] }}" ng-if="messagesThread.account.threads_count_today">{{ formatThreadsCountToday(messagesThread.account.threads_count_today) }}</div>

        <div class="thread-status {{ threadStatusInfos.cssClass }}">{{ threadStatusInfos.text }}</div>

        <div class="thread-operator" ng-if="operatorInfos"><span class="operator-color" style="background-color:{{operatorInfos.color}};"></span><span class="operator-name">{{operatorInfos.name}}</span></div>
      </div>

        <div class="received-at">{{ formatDate(messagesThread) }}</div>

          <div class="subject-and-snippet">
            <div class="subject">{{ messagesThread.subject }}</div>
            <div class="snippet"> - {{ messagesThread.snippet}}</div>
          </div>

        <div class="emails-count">({{ messagesThread.messages.length }})</div>

        <div ng-show="labelInRowInfos.text" class="delegated-to-founders {{labelInRowInfos.cssClass}}"><span class="to-be-merged-sprite" ng-show="labelInRowInfos.text == 'To merge'"></span><span class="delegation-text">{{ labelInRowInfos.text }}</span></div>
    </a>

  <% if ENV['STAGING_APP'] %>

    <%= link_to "#{staging_import_context_from_production_path}?server_thread_id={{messagesThread.server_thread_id}}", style: 'position: relative;
                            top: -45px;
                            right: 125px;
                            float: right;
                            z-index: 1;' do %>
        <button type="button">Import context from prod</button>
    <% end %>
  <% end %>
</div>