<span class="text">Impossible de traiter cet e-mail car un mauvais alias est utilisé pour le service utilisateur</span>
<div id="no_account_tile" ng-controller="no-account-tile-controller" ng-cloak>

  <div class="associate-to-account-container">

    <div>
      <div class="merging-options-container">

          <div class="explanation">
            <span class="text">Impossible de traiter cet e-mail car un mauvais alias est utilisé pour le service utilisateur</span>
          </div>

      </div>
  </div>
</div>
</div>d