<%= javascript_pack_tag 'vue_inbox_app' %>
<%= stylesheet_pack_tag 'vue_inbox_app' %>

<div class="fixed-columns full">
  <div class="left-column">

    <div id="inbox-app">
      <inbox></inbox>
    </div>
  </div>
</div>

<% if ENV['ZENDESK_WIDGET_ACTIVATED'].present? %>
  <%= render partial: 'common/zendesk_widget' %>
<% end %>