<div class="row">
  <div class="email-column col-md-9">


    <div class="messages-thread-emails">
      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>
      <%= button_to "", archive_messages_thread_path(id: @messages_thread.id), class: "archive-button" %>
      <% @messages_thread.messages_with_google_cache.each do |message| %>
          <%= render partial: "email", locals: {message: message} %>
      <% end %>
    </div>
  </div>

  <%= render partial: "infos_panel", locals: {messages_thread: @messages_thread} %>

</div>