<div class="col-md-8 col-md-offset-2">
  <h1>Turing review</h1>

  <h2>You reviewed <%= @reviewed_by_me_count %> actions</h2>

  <br>

  <% if @count_to_review > 0 %>
      <h3>There are still <%= @count_to_review %> actions for you to review:</h3>
      <%= link_to "Review next", {action: :review_turing_next}, class: "btn btn-primary" %>
  <% else %>
      <h3>Perfect, you reviewed everything you could.</h3>
  <% end %>
</div>