<div class="calendar-tile input-like">
    <div class="calendar-tile-header">
        <div class="back-button"><</div>
        <div class="month-container"></div>
        <div class="next-button">></div>
    </div>

    <div class="day-names-container"></div>
    <div class="days-container"></div>

    <div class="disabled-cache"></div>
</div>