
<div class="col col-md-8 col-md-offset-2">
  <h1>Julie Action comparison</h1>
  <br>
  <br>
  <table class="table">
    <tr>
      <th>Operator text</th>
      <th>Generated text</th>
    </tr>
    <tr>
      <td style="white-space: pre-wrap"><%= @julie_action.text %></td>
      <td style="white-space: pre-wrap"><%= @julie_action.generated_text %></td>
    </tr>
  </table>
</div>