
<script>
    var app = angular.module("classificationsApp", []);

    app.directive("resultsNavigator", function () {
        return {
            restrict: 'E',
            link: function (scope, element, attrs, ctrl) {

            },
            scope: {
                offset: "=",
                totalCount: "=",
                itemsPerPage: "="
            },
            controller: ['$scope', function ($scope) {
                $scope.firstItem = function () {
                    return Math.max($scope.offset + 1);

                };
                $scope.lastItem = function () {
                    return Math.min($scope.offset + $scope.itemsPerPage, $scope.totalCount);
                };
                $scope.previousPage = function () {
                    $scope.offset -= $scope.itemsPerPage;
                };
                $scope.nextPage = function () {
                    $scope.offset += $scope.itemsPerPage;
                };

                $scope.isFirstPage = function () {
                    return $scope.offset == 0;
                };
                $scope.isLastPage = function () {
                    return $scope.offset + $scope.itemsPerPage >= $scope.totalCount;
                };

            }],
            template: function (element, attr) {
                var htmlTemplate =
                    '<div ng-show="totalCount > 0">' +
                    '<span class="btn" disabled>{{ firstItem() }} - {{ lastItem() }} / {{ totalCount }}</span> ' +
                    '<span class="btn btn-default btn-sm" ng-disabled="isFirstPage()" ng-click="previousPage()"><</span> ' +
                    '<span class="btn btn-default btn-sm" ng-disabled="isLastPage()" ng-click="nextPage()">></span>' +
                    '</div>' +
                    '<div ng-show="totalCount == 0" class="btn" disabled>' +
                    '' +
                    '</div>';
                return htmlTemplate
            }
        }
    });

    app.service('messageInterpretationService', ['$http','$q', function($http, $q) {
        this.get = function(path) {
          return this.request(path, 'get');
        };
        this.post = function(path, data) {
            return this.request(path, 'post', data);
        };
        this.request = function(path, method, data) {
           var basePath = '<%= ENV['CONSCIENCE_BASE_PATH'] %>';
           var authorization = '<%= ENV['CONSCIENCE_API_KEY'] %>';

           if(method === 'post') {
               return $http.post(basePath + path, data, {
                       headers: {
                           'Accept': 'application/json',
                           'Authorization': authorization
                       }
                   })
           }
           else if(method === 'get') {
               return $http.get(basePath + path, {
                   headers: {
                       'Accept': 'application/json',
                       'Authorization': authorization
                   }
               })
           }
           else {
               throw 'Unsupported request method';
           }
       };
    }]);

    app.controller("classificationsController", ['$scope', '$window', '$http', '$timeout', 'messageInterpretationService', function ($scope, $window, $http, $timeout, messageInterpretationService) {

        $scope.loading = false;

        $scope.availableStatuses = ['unchecked', 'valid', 'invalid', 'unknown'];
        $scope.offset = 0;
        $scope.itemsPerPage = 20;
        $scope.searchQuery = "";
        $scope.allClassifications = [{"id": "organize", "name": "Organize", "type": "request"}, 
                              {"id": "create_event", "name": "Create Event", "type": "request"},
                              {"id": "postpone", "name": "Postpone", "type": "request"},
                              {"id": "cancel", "name": "Cancel", "type": "request"},
                              {"id": "other", "name": "Other", "type": "request"},
                              {"id": "appointment", "name": "Appointment", "type": "appointment"},
                              {"id": "call", "name": "Call", "type": "appointment"},
                              {"id": "lunch", "name": "Lunch", "type": "appointment"},
                              {"id": "coffee", "name": "Coffee", "type": "appointment"},
                              {"id": "breakfast", "name": "Breakfast", "type": "appointment"},
                              {"id": "dinner", "name": "Dinner", "type": "appointment"},
                              {"id": "drink", "name": "Drink", "type": "appointment"},
                              {"id": "skype", "name": "Skype", "type": "appointment"},
                              {"id": "visio", "name": "Visio", "type": "appointment"},
                              {"id": "webex", "name": "Webex", "type": "appointment"},
                              {"id": "hangout", "name": "Hangout", "type": "appointment"},
                              {"id": "other", "name": "Other", "type": "appointment"},]
        $scope.allStatusesActive = {
            'unchecked': true,
            'valid': true,
            'invalid': true,
            'unknown': true
        };
        $scope.fetchMode = function () {
            $http.get("", {
                withCredentials: true,
                headers: {'Accept': 'application/json'}
            }).then(function (response) {

                $scope.mode = response.data.mode;
                if ($scope.mode == 'admin') {
                    $scope.statuses = $scope.allStatusesActive
                }
                else {
                    $scope.statuses = {
                        'unchecked': true,
                    };
                }
                $scope.fetch();
            })
        };
        $scope.fetch = function () {
            $scope.loading = true;
            var url = "/api/v1/classifications";
            url += "?offset=" + $scope.offset + "&limit=" + $scope.itemsPerPage;
            var status = [];
            _.each($scope.statuses, function (v, k) {
                if (v) {
                    status.push(k);
                }
            });
            if (status.length > 0) {
                url += "&classification_status=" + status.join(",");
            }
            if ($scope.searchQuery.length > 0) {
                url += "&query=" + $scope.searchQuery;
            }
            messageInterpretationService.get(url).then(function (response) {
                $scope.reviews = response.data.data;
                if($scope.mode === 'review') {
                    _.each($scope.reviews, function(review) {
                        if(review.status === 'unchecked') {
                            review.status = 'valid';
                        }
                    });
                }
                $scope.totalCount = response.data.total_count;

                $scope.accuracy = response.data.score;

                $scope.loading = false;
            })
        };

        $scope.classificationIsChecked = function (classification) {
            return classification.status !== "unchecked"
        };

        $scope.formatClassification = function (classification) {
            return _.find($scope.allClassifications, { id: classification.classification }).name
        };

        $scope.filterClassification = function(classification) {
            return _.filter($scope.allClassifications, { type: classification.type })
        };

        $scope.validateBatch = function () {
              var data = _.map($scope.reviews, function (review) {

                validatedClassifications = _.filter(review.classifications, function(classification) {
                  return $scope.classificationIsChecked(classification) 
                })

                  tmp = _.map(validatedClassifications, function (classification) {

                    return {
                      id: review.id,
                      classification_id: classification.classification_id,
                      value: classification
                    }
                  });
                  return tmp
              });

              data = _.flatten(data)

              $scope.loading = true;
              messageInterpretationService.post("/api/v1/classifications/validate", data).then(function () {
                  $scope.fetch();
              });

              $window.scrollTo(0, 0);

        };

        $scope.setStatus = function (classification, status) {
            classification.status = status;
            if (status === "invalid") {
                $timeout(function () {
                    var element = $("#correction-" + classification.classification_id)[0];
                });
            }
            else {
                classification.corrected_classification = null;
            }


        };

        $scope.$watch("statuses", function (newValue, oldValue) {
            if(oldValue !== undefined) {
                $scope.fetch();
            }

        }, true);

        $scope.$watch("offset", function (newValue, oldValue) {
            if(newValue !== oldValue) {
                $scope.fetch();
            }

        });


        $scope.$watch("searchQuery", function (newValue, oldValue) {
            if(newValue !== oldValue) {
                clearTimeout($scope.timeoutCode);
                $scope.timeoutCode = setTimeout(function () {
                    $scope.fetch();
                }, 500);
            }
        });


        $scope.fetchMode();

    }]);
</script>

<style>
  .check-btn {
    opacity: 0.4;
    font-size: 21px;
    margin: 1px 0;
    cursor: pointer;
  }

  .check-btn.checked {
    opacity: 1.0;
  }

  .check-btn.success {
    color: #5cb85c;
  }

  .check-btn.error {
    color: #d9534f;
  }

  .check-btn.warning {
    color: #d321f0;
  }

  input[type=text] {
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    padding: 0 5px;
    margin: 1px 0;
  }

  input[type=text].error {
    border: solid 1px red;
  }

  td {
    position: relative;
  }

  td.bigWarning::before {
    content: "";
    background: #d9534f;
    position: absolute;
    left: -30px;
    top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
  }

  .text {
    margin: 3.5px 0;
  }

  .capitalize {
    margin: 3.5px 0;
    text-transform: capitalize;
}

</style>

<div ng-app="classificationsApp"
     ng-controller="classificationsController"
     class="col-md-offset-2 col-md-8">
  <h1>Classifications <span ng-show="loading"> [ Loading... ]</span></h1>

  <h4 ng-show="mode == 'review'">Messages to check: {{ totalCount }}</h4>
  <h4 ng-show="mode != 'review'"> Accuracy : {{ accuracy }} % </h4>

  <div ng-show="mode == 'admin'"
       class="alert alert-info row">
    <div class="col-md-4">
      <h4>Status:</h4>
      <div ng-repeat="statusItem in availableStatuses"><input type="checkbox" ng-model="statuses[statusItem]"> {{
        statusItem }}
      </div>
    </div>
    <div class="col-md-4">

      <input ng-model="searchQuery" placeholder="Search for messages...">
    </div>
    <div class="col-md-4">
      <results-navigator offset="offset" total-count="totalCount" items-per-page="itemsPerPage"></results-navigator>
    </div>

  </div>



<table class="table table-striped">
    <tr>
      <th>Message</th>
      <th>Type</th>
      <th>Classification</th>
      <th>Status</th>
      <th>Corrected classification</th>
    </tr>
    <tr ng-repeat="review in reviews">
        
          <td class="col-md-4">{{ review.message }}</td>
          <td class="col-md-2">
              <div class="capitalize" ng-repeat="classification in review.classifications" >{{ classification.type }}</div>
          </td>
          <td class="col-md-3">
              <div class="text" ng-repeat="classification in review.classifications">{{ formatClassification(classification) }}</div>
          </td>
          <td class="col-md-1" style="min-width: 120px">
            <div ng-repeat="classification in review.classifications">
              <span class="fa fa-check check-btn success"
                    ng-class="{checked: classification.status == 'valid'}"
                    ng-click="setStatus(classification, 'valid')"></span>
              <span class="fa fa-times check-btn error"
                    ng-class="{checked: classification.status == 'invalid'}"
                    ng-click="setStatus(classification, 'invalid')"></span>
              <span class="fa fa-question check-btn warning"
                    ng-class="{checked: classification.status == 'unknown'}"
                    ng-click="setStatus(classification, 'unknown')"></span>
            </div>
          </td>
          <td class="col-md-3">
            <div ng-repeat="classification in review.classifications">
              <select name="selectClassification"
                      ng-options="c.id as c.name for c in filterClassification(classification)"
                      id="correction-{{ classification.classification_id }}"
                      ng-model="classification.corrected_classification"
                      ng-disabled="classification.status != 'invalid'"/>
            </div>
          </td>
    </tr>
</table>

  <div class="btn btn-success" ng-click="validateBatch()">Validate</div>

</div>