<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'angular_dates_manager_appp' %>

<script>
  var templateTesterApp = angular.module("templateTesterApp", []);

  templateTesterApp.controller("templateTesterController", ['$scope', '$http', function ($scope, $http) {

    $scope.examples = {
      clients: ["Charles", "Cecile", "Connie", "Cedric"],
      attendees: [
          {
            name: "Antoine",
            assisted_by_name: "Sarah"
          },
        {
          name: "Abe",
          assisted_by_name: ""
        },
        {
          name: "Aurore",
          assisted_by_name: "Sulimane"
        },
        {
          name: "Andre",
          assisted_by_name: "Steve"
        }
      ],
      dates: ["2016-01-01T12:00:00", "2016-01-01T02:00:00", "2016-01-03T02:00:00", "2016-01-04T23:00:00"],
      timezones: ["Europe/Paris", "America/Los_Angeles", "Asia/Kolkata", "Europe/London"]
    };

    $scope.template = "suggest_dates";
    $scope.mainClientCompany = "E-corp";
    $scope.meetingRoomName = "Malmo";
    $scope.clients = [];
    $scope.attendees = [];
    $scope.dates = [];
    $scope.isVirtual = true;
    $scope.defaultTimezone = $scope.examples.timezones[0];
    $scope.timezones = [];
    $scope.locale = "en";
    $scope.missingContactInfo = null;
    $scope.readyToRenderTemplate = false;
    $scope.date = $scope.examples.dates[0];
    $scope.locationKind = "skype";
    $scope.restaurantBookingActivated = false;
    $scope.meetingRoomBooked = false;

    $scope.event = {
      start: '2016-12-19T18:00:00+01:00',
      end: '2016-12-19T19:00:00+01:00',
      location: '9 rue Maurice 9 Rue Maurice Grandcoing, 94200 Ivry-sur-Seine',
      timezoneId: 'Europe/Paris'
    };
    $scope.appointment_nature = 'appointment';
    $scope.eventModifications = {
      event_organization_updated: true
    };
    $scope.eventAddedAttendeesCount = 0;
    $scope.eventAnnexeModifications = {
      title: true,
      description: true,
      call_instructions_details: true,
      attendees: true
    };

    $scope.locationInEmail = {
      en: "at the office",
      fr: "au bureau"
    };
    $scope.appointmentInEmail = {
      en: "a coffee",
      fr: "un café"
    };

    $scope.designationInEmail = {
      en: "the coffee",
      fr: "le café"
    };

    $scope.addAttendee = function () {
      var attendee = $scope.examples.attendees[$scope.attendees.length % $scope.examples.attendees.length];
      $scope.attendees.push(attendee);
      $scope.refreshTemplates();
    };
    $scope.removeAttendee = function (index) {
      $scope.attendees.splice(index, 1);
      $scope.refreshTemplates();
    };

    $scope.addClient = function () {
      var clientName = $scope.examples.clients[$scope.clients.length % $scope.examples.clients.length];
      $scope.clients.push({name: clientName});
      $scope.refreshTemplates();
    };
    $scope.removeClient = function (index) {
      if ($scope.clients.length > 1) {
        $scope.clients.splice(index, 1);
        $scope.refreshTemplates();
      }
    };
    $scope.addDate = function () {
      var date = $scope.examples.dates[$scope.dates.length % $scope.examples.dates.length];
      $scope.dates.push({date: date});
      $scope.refreshTemplates();
    };
    $scope.removeDate = function (index) {
      if ($scope.dates.length > 1) {
        $scope.dates.splice(index, 1);
        $scope.refreshTemplates();
      }
    };

    $scope.addTimezone = function () {
      var timezone = $scope.examples.timezones[$scope.timezones.length % $scope.examples.timezones.length];
      $scope.timezones.push({timezone: timezone});
      $scope.refreshTemplates();
    };
    $scope.removeTimezone = function (index) {
      if ($scope.timezones.length > 1) {
        $scope.timezones.splice(index, 1);
        $scope.refreshTemplates();
      }
    };

    $scope.contextForsuggest_dates = function() {
      return {
        template: $scope.template,
        client_names: _.map($scope.clients, "name"),
        dates: _.map($scope.dates, function (dateHash) {
          return moment.tz(dateHash.date, "utc").format();
        }),
        date: $scope.date,
        timezones: _.map($scope.timezones, "timezone"),
        default_timezone: $scope.defaultTimezone,
        appointment_in_email: $scope.appointmentInEmail,
        appointment_type: $scope.appointment_nature,
        location_in_email: $scope.shouldAskLocation ? {} : $scope.locationInEmail,
        is_virtual: $scope.isVirtual,
        attendees: $scope.attendees,
        locale: $scope.locale,
        should_ask_location: $scope.shouldAskLocation || false,
        missing_contact_info: $scope.missingContactInfo,
        location_kind: $scope.locationKind,
        restaurant_booking_activated: $scope.restaurantBookingActivated,
        main_client_company: $scope.mainClientCompany,
        meeting_room_booked: $scope.meetingRoomBooked,
        meeting_room_name: $scope.meetingRoomName
      };
    };

    $scope.contextForsend_invitations = function() {
      return {
        template: $scope.template,
        client_names: _.map($scope.clients, "name"),
        dates: _.map($scope.dates, function (dateHash) {
          return moment.tz(dateHash.date, "utc").format();
        }),
        date: $scope.date,
        timezones: _.map($scope.timezones, "timezone"),
        default_timezone: $scope.defaultTimezone,
        appointment_in_email: $scope.appointmentInEmail,
        location_in_email: $scope.shouldAskLocation ? {} : $scope.locationInEmail,
        is_virtual: $scope.isVirtual,
        attendees: $scope.attendees,
        locale: $scope.locale,
        should_ask_location: $scope.shouldAskLocation || false,
        missing_contact_info: $scope.missingContactInfo,
        location_kind: $scope.locationKind,
        restaurant_booking_activated: $scope.restaurantBookingActivated,
        main_client_company: $scope.mainClientCompany,
        meeting_room_booked: $scope.meetingRoomBooked,
        meeting_room_name: $scope.meetingRoomName
      };
    };

    $scope.contextForupdate_event = function() {
      var eventAnnexeAttributesChanged = [];
      _.each($scope.eventAnnexeModifications, function(val, k) {
        if(val){
          eventAnnexeAttributesChanged.push(k);
        }
      });

      var modifications = $scope.eventModifications;
      modifications.event_annexe_attributes_changed = eventAnnexeAttributesChanged;
      modifications.added_attendees = [];

      for(var i=0; i<$scope.eventAddedAttendeesCount ; i++) {
        modifications.added_attendees.push(i)
      }

      var params = {
        template: $scope.template,
        appointment_nature: $scope.appointment_nature,
        locale: $scope.locale,
        event: $scope.event,
        modifications: modifications
      };

      return params;
    };

    $scope.cleanContext = function () {
      return $scope['contextFor' + $scope.template]();


//      return {
//        template: $scope.template,
//        client_names: _.map($scope.clients, "name"),
//        dates: _.map($scope.dates, function (dateHash) {
//          return moment.tz(dateHash.date, "utc").format();
//        }),
//        date: $scope.date,
//        timezones: _.map($scope.timezones, "timezone"),
//        default_timezone: $scope.defaultTimezone,
//        appointment_in_email: $scope.appointmentInEmail,
//        location_in_email: $scope.shouldAskLocation ? {} : $scope.locationInEmail,
//        is_virtual: $scope.isVirtual,
//        attendees: $scope.attendees,
//        locale: $scope.locale,
//        should_ask_location: $scope.shouldAskLocation,
//        missing_contact_info: $scope.missingContactInfo,
//        location_kind: $scope.locationKind,
//        restaurant_booking_activated: $scope.restaurantBookingActivated,
//        main_client_company: $scope.mainClientCompany,
//        meeting_room_booked: $scope.meetingRoomBooked,
//        meeting_room_name: $scope.meetingRoomName
//      };
    };

    // Watchers

    var varsToWatch = ["template", "shouldAskLocation", "missingContactInfo", "isVirtual", "locale", "locationKind", "restaurantBookingActivated", "meetingRoomBooked", "eventAddedAttendeesCount", "appointment_nature"];
    _.each(varsToWatch, function(varToWatch) {
      $scope.$watch(varToWatch, function (oldValue, newValue) {
        $scope.refreshTemplates();
      });
    });

    var objectsToWatch = ["eventAnnexeModifications", "eventModifications", "event"];
    _.each(objectsToWatch, function(objectToWatch) {
      $scope.$watch(objectToWatch, function (oldValue, newValue) {
        $scope.refreshTemplates();
      }, true);
    });

    $scope.refreshTemplates = function () {
      if($scope.readyToRenderTemplate) {
        var $template = $(".template");

        TemplateServiceManager.getInstance().generateTemplate($scope.cleanContext(), 'all', window.otherEmails).then(function(generatedTemplate) {
          $template.find(".service-generated-template").html(generatedTemplate);
        });
//        window.generateEmailTemplateViaService($scope.cleanContext(), function (serviceGeneratedTemplate) {
//          $template.find(".service-generated-template").html(serviceGeneratedTemplate);
//        });
      }
    };

    $scope.addClient();
    $scope.addAttendee();
    $scope.addDate();
    $scope.addTimezone();
    setTimeout(function() {
      $scope.readyToRenderTemplate = true;
      $scope.refreshTemplates();
    }, 200);

  }]);
  angular.element(document).ready(function () {
    angular.bootstrap(document.getElementById("templateTesterContainer"), ['templateTesterApp']);
  });

</script>


<style>
  .templates-bar {
    padding: 20px;
    background: #eee;
    border-top: 1px solid #ddd;
    margin: 20px 0 20px 0;
  }
  body {
    width: 1200px;
    margin: 0 auto;
  }

  .template {
    background: #eee;
    padding: 20px;
    white-space: pre-wrap;
  }

  .borderless > tbody > tr > td {
    border-top: none;
  }

  td {
    width: 33%;
  }

  .invisible {
    visibility: hidden;
  }
</style>

<div id="templateTesterContainer" ng-controller="templateTesterController">

  <div class="templates-bar">
    <div class="form-group">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" ng-class="template == 'suggest_dates' ? 'active btn-success' : ''">
          <input type="radio" ng-model="template" data-ng-value="'suggest_dates'"> Suggest dates
        </label>
        <label class="btn btn-default" ng-class="template == 'send_invitations' ? 'active btn-success' : ''">
          <input type="radio" ng-model="template" data-ng-value="'send_invitations'"> Send invitations
        </label>
        <label class="btn btn-default" ng-class="template == 'update_event' ? 'active btn-success' : ''">
          <input type="radio" ng-model="template" data-ng-value="'update_event'"> Update event
        </label>
      </div>
    </div>
  </div>
  <table class="table borderless" ng-hide="template == 'update_event'">
    <tr>
      <td>
        <form>
          <label>Clients</label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Main client company</div>
              <input ng-model="mainClientCompany" class="form-control" ng-change="refreshTemplates()">
            </div>
          </div>

          <div class="client-name-container" ng-repeat="client in clients track by $index">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Name</div>
                <input ng-model="client.name" class="form-control" ng-change="refreshTemplates()">
                <div class="input-group-addon btn" ng-click="removeClient($index)"><span class="glyphicon glyphicon-remove"></span></div>
              </div>
            </div>


          </div>
          <br>
          <div class="btn btn-sm btn-primary" ng-click="addClient()">add client</div>

          <br>
          <br>

          <label>Attendees</label>
          <div ng-repeat="attendee in attendees track by $index">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Name</div>
                <input ng-model="attendee.name" class="form-control" ng-change="refreshTemplates()">
                <div class="input-group-addon">Assisted by</div>
                <input ng-model="attendee.assisted_by_name" class="form-control" ng-change="refreshTemplates()">
                <div class="input-group-addon btn" ng-click="removeAttendee($index)"><span class="glyphicon glyphicon-remove"></span>
                </div>
              </div>
            </div>


          </div>
          <br>
          <div class="btn btn-sm btn-primary" ng-click="addAttendee()">Add attendee</div>
        </form>
      </td>

      <td class="active">
        <label>Appointment Nature</label>
        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <select class="data-entry form-control" ng-model="appointment_nature">
              <option value="appointment">appointment</option>
              <option value="breakfast">breakfast</option>
              <option value="call">call</option>
              <option value="coffee">coffee</option>
              <option value="dinner">dinner</option>
              <option value="drink">drink</option>
              <option value="hangout">hangout</option>
              <option value="lunch">lunch</option>
              <option value="meeting">meeting</option>
              <option value="skype">skype</option>
              <option value="visio">visio</option>
              <option value="webex">webex</option>
              <option value="work_session">work_session</option>
            </select>
          </div>
        </div>

        <label>Designation in email</label>
        <div class="form-group">
          <div class="input-group" data-toggle="buttons">
            <input ng-model="designationInEmail.en" class="form-control" ng-change="refreshTemplates()">
            <div class="input-group-addon" ng-class="'invisible'"></div>
            <input ng-model="designationInEmail.fr" class="form-control" ng-change="refreshTemplates()">
          </div>

        </div>

        <label>Appointment designation</label>
        <div class="form-group">
          <div class="input-group" data-toggle="buttons">
            <input ng-model="appointmentInEmail.en" class="form-control" ng-change="refreshTemplates()">
            <div class="input-group-addon" ng-class="'invisible'"></div>
            <input ng-model="appointmentInEmail.fr" class="form-control" ng-change="refreshTemplates()">
          </div>

        </div>

        <label>Location designation</label>

        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <label class="button-group-addon btn btn-default" ng-class="shouldAskLocation ? 'active btn-success': ''">
              <input type="checkbox" ng-model="shouldAskLocation"> Should ask location
            </label>
          </div>
        </div>

        <div class="form-group" ng-show="!shouldAskLocation">
          <div class="input-group" data-toggle="buttons">
            <input ng-model="locationInEmail.en" class="form-control" ng-change="refreshTemplates()">
            <div class="input-group-addon" ng-class="'invisible'"></div>
            <input ng-model="locationInEmail.fr" class="form-control" ng-change="refreshTemplates()">
          </div>

        </div>



        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
          <label class="button-group-addon btn btn-default" ng-class="meetingRoomBooked ? 'active btn-success': ''">
            <input type="checkbox" ng-model="meetingRoomBooked"> Meeting room booked
          </label>
          </div>
        </div>
        <div class="form-group" ng-show="meetingRoomBooked">
          <div class="input-group">
            <label class="input-group-addon">Meeting room name</label>
            <input ng-model="meetingRoomName" class="form-control">
          </div>
        </div>

        <br/>

        <div class="form-group">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="isVirtual ? '' : 'active btn-success'">
              <input type="radio" ng-model="isVirtual" data-ng-value="false"> Physical
            </label>
            <label class="btn btn-default" ng-class="isVirtual ? 'active btn-success' : ''">
              <input type="radio" ng-model="isVirtual" data-ng-value="true"> Virtual
            </label>
          </div>
        </div>

        <div class="form-group" ng-show="isVirtual">
          <div class="btn-group" role="group" aria-label="Third group">
            <div type="button" class="btn btn-secondary" disabled>Support</div>
          </div>

          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="locationKind == 'skype' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locationKind" data-ng-value="'skype'"> Skype
            </label>
            <label class="btn btn-default" ng-class="locationKind == 'confcall' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locationKind" data-ng-value="'confcall'"> Confcall
            </label>
            <label class="btn btn-default" ng-class="locationKind == 'phone_number' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locationKind" data-ng-value="'phone_number'"> Phone
            </label>
            <label class="btn btn-default" ng-class="locationKind == 'phone_number' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locationKind" data-ng-value="'resource_visio'"> Visio res
            </label>

          </div>
        </div>

        <div class="form-group" ng-show="!isVirtual">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="restaurantBookingActivated ? 'active btn-success': ''">
              <input type="checkbox" ng-model="restaurantBookingActivated"> Restaurant booking activated
            </label>
          </div>
        </div>

        <br/>

        <div class="form-group">
          <div class="btn-group">
            <div type="button" class="btn btn-secondary" disabled>Missing info</div>
          </div>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="missingContactInfo == 'landline_or_mobile' ? 'active btn-success' : ''">
              <input type="radio" ng-model="missingContactInfo" data-ng-value="'landline_or_mobile'"> Mob/land
            </label>
            <label class="btn btn-default" ng-class="missingContactInfo == 'mobile' ? 'active btn-success' : ''">
              <input type="radio" ng-model="missingContactInfo" data-ng-value="'mobile'"> Mobile
            </label>
            <label class="btn btn-default" ng-class="missingContactInfo == 'skype' ? 'active btn-success' : ''">
              <input type="radio" ng-model="missingContactInfo" data-ng-value="'skype'"> Skype
            </label>
            <label class="btn btn-default" ng-class="missingContactInfo == null ? 'active btn-success' : ''">
              <input type="radio" ng-model="missingContactInfo" data-ng-value="null"> None
            </label>
          </div>
        </div>

        <br/>

        <div class="form-group">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="locale == 'en' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locale" value="en"> EN
            </label>
            <label class="btn btn-default" ng-class="locale == 'fr' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locale" value="fr"> FR
            </label>
          </div>
        </div>
      </td>

      <td>
        <form ng-show="template == 'suggest_dates'">
          <label>Dates</label>
          <div class="client-date-container" ng-repeat="date in dates track by $index">
            <div class="form-group">
              <div class="input-group">
                <input ng-model="date.date" class="form-control" ng-change="refreshTemplates()">
                <div class="input-group-addon btn" ng-click="removeDate($index)"><span class="glyphicon glyphicon-remove"></span>
                </div>
              </div>
            </div>


          </div>
          <div class="btn btn-sm btn-primary" ng-click="addDate()">add date</div>
        </form>

        <form ng-show="template == 'send_invitations'">
          <label>Date</label>
            <div class="form-group">
                <input ng-model="date" class="form-control" ng-change="refreshTemplates()">
            </div>
        </form>

        <br>
        <br>

        <form>
          <label>Timezones</label>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Default</span>
              <input ng-model="defaultTimezone" class="form-control" ng-change="refreshTemplates()">
            </div>
          </div>

          <div class="client-date-container" ng-repeat="timezone in timezones track by $index">
            <div class="form-group">
              <div class="input-group">
                <input ng-model="timezone.timezone" class="form-control" ng-change="refreshTemplates()">
                <div class="input-group-addon btn" ng-click="removeTimezone($index)">
                  <span class="glyphicon glyphicon-remove"></span>
                </div>
              </div>
            </div>
          </div>
          <span class="btn btn-sm btn-primary" ng-click="addTimezone()">add timezone</span>
        </form>
      </td>
    </tr>
  </table>

  <table class="table borderless" ng-show="template == 'update_event'">
    <tr>
      <td>
        <label>Appointment Nature</label>
        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <select class="data-entry form-control" ng-model="appointment_nature">
              <option value="appointment">appointment</option>
              <option value="breakfast">breakfast</option>
              <option value="call">call</option>
              <option value="coffee">coffee</option>
              <option value="dinner">dinner</option>
              <option value="drink">drink</option>
              <option value="hangout">hangout</option>
              <option value="lunch">lunch</option>
              <option value="meeting">meeting</option>
              <option value="skype">skype</option>
              <option value="visio">visio</option>
              <option value="webex">webex</option>
              <option value="work_session">work_session</option>
            </select>
          </div>
        </div>

        <label>Locale</label>
        <div class="form-group">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="locale == 'en' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locale" value="en"> EN
            </label>
            <label class="btn btn-default" ng-class="locale == 'fr' ? 'active btn-success' : ''">
              <input type="radio" ng-model="locale" value="fr"> FR
            </label>
          </div>
        </div>
      </td>

      <td>
        <label>Event data</label>

        <form>
          <label>Start Date</label>
          <div class="form-group">
            <input ng-model="event.start" class="form-control" ng-change="refreshTemplates()">
          </div>
          <label>End Date</label>
          <div class="form-group">
            <input ng-model="event.end" class="form-control" ng-change="refreshTemplates()">
          </div>
          <label>Location</label>
          <div class="form-group">
            <input ng-model="event.location" class="form-control" ng-change="refreshTemplates()">
          </div>

          <label>Timezone</label>
          <div class="form-group">
            <input ng-model="event.timezoneId" class="form-control" ng-change="refreshTemplates()">
          </div>
        </form>
      </td>

      <td>
        <label>Event Macro Modifications Made</label>

        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <label class="button-group-addon btn btn-default" ng-class="eventModifications.event_organization_updated ? 'active btn-success': ''">
              <input type="checkbox" ng-model="eventModifications.event_organization_updated"> Event organization updated
            </label>
          </div>
        </div>

        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default" ng-class="eventAddedAttendeesCount == 0 ? 'active btn-success' : ''">
            <input type="radio" ng-model="eventAddedAttendeesCount" data-ng-value="0"> No added attendees
          </label>
          <label class="btn btn-default" ng-class="eventAddedAttendeesCount == 1 ? 'active btn-success' : ''">
            <input type="radio" ng-model="eventAddedAttendeesCount" data-ng-value="1"> 1 added attendees
          </label>
          <label class="btn btn-default" ng-class="eventAddedAttendeesCount == 2 ? 'active btn-success' : ''">
            <input type="radio" ng-model="eventAddedAttendeesCount" data-ng-value="2"> Multiple added attendees
          </label>
        </div>


        <label>Event Micro Modifications Made</label>

        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <label class="button-group-addon btn btn-default" ng-class="eventAnnexeModifications.title ? 'active btn-success': ''">
              <input type="checkbox" ng-model="eventAnnexeModifications.title"> Title updated
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <label class="button-group-addon btn btn-default" ng-class="eventAnnexeModifications.description ? 'active btn-success': ''">
              <input type="checkbox" ng-model="eventAnnexeModifications.description"> Notes updated
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <label class="button-group-addon btn btn-default" ng-class="eventAnnexeModifications.call_instructions_details ? 'active btn-success': ''">
              <input type="checkbox" ng-model="eventAnnexeModifications.call_instructions_details"> Call instructions updated
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="button-group" data-toggle="buttons">
            <label class="button-group-addon btn btn-default" ng-class="eventAnnexeModifications.attendees ? 'active btn-success': ''">
              <input type="checkbox" ng-model="eventAnnexeModifications.attendees"> Attendees updated
            </label>
          </div>
        </div>

      </td>
    </tr>
  </table>


</div>

<div class="template">
  <div class="service-generated-template"></div>
</div>

<div id="thread-header-other-entries-container">
  <div id="dates-suggestion-manager" class="time-slots-to-suggest-list-container" ng-controller="datesSuggestionsManager as datesSuggestionsMng" ng-show="displayDatesSuggestionManager"></div>
</div>

<div id="attendeesCtrl" ng-controller="isolated-controller"></div>