<script>
    $(function () {
        $(".operators-list .operator").click(function () {
            var id = $(this).data("id");
            $(".operator-container").each(function () {
                if ($(this).data("id") == id) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            })
        });
    })
</script>


<div class="fixed-columns full">
  <div class="left-column">

    <%= render partial: "review/header" %>



    <div class="messages-threads-page">
      <div class="operators-page">
        <%= render "index_menu", locals: {operators: @operators, to_review_count: @to_review_count, oags_to_learn_counts: @oags_to_learn_counts} %>

        <div class='operators-container'>

        </div>
      </div>

      <%= render partial: "common/footer" %>
    </div>
  </div>
</div>





