#calendars-list-popup {
  z-index: 100;
  position: absolute;
  display: none;

  left: 50px;
  top: 62px;

  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 20px;
  text-align: left;

  @include border-radius(2px);
  border-color: #aaa;

  max-height: 480px;
  overflow: overlay;
  font-weight: 200;
  font-size: 16px;

  span {
    vertical-align: baseline;
  }

  #weekends-checkbox {

  }

  #close-calendars-list-popup {
    cursor: pointer;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
    &:hover {
      opacity: 1.0;
    }
  }

  .calendars {
    padding: 20px 0 0 0;
    .calendar-item {
      input[type=checkbox] {

      }
      .circle {
        display: inline-block;
        @include border-radius(50px);
        border: solid 1px #ffffff;
        width: 10px;
        height: 10px;
        background-color: #459832;
        margin: 0 5px;
      }
      .calendar-name {

      }
    }
  }



}