$blue: rgb(0,153, 204);

.calendar-container {

  .fc-header-title {
    cursor: pointer;

    h2 {
      color: $blue;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .global-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;

    .global-loading-positioner {
      width: 100%;
      height: 100px;
      top: 50%;
      margin-top: -50px;
      position: absolute;
      text-align: center;

      .global-loading-message {
        text-align: center;
        font-size: 16px;
        font-weight: 200;
        color: #444;
        letter-spacing: 0.5px;
      }

      .global-spinner {
        width: 20px;
        margin: 10px;
      }

    }
  }

  .local-loading-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background: rgba(255, 255, 255, 0.5);

    .local-loading {
      position: absolute;
      top: -4px;
      background: #fff;
      width: 200px;
      padding: 2px 0 0 0;
      left: 50%;
      margin-left: -100px;
      height: 30px;
      border: 1px solid #aaa;
      border-radius: 4px;
      text-align: center;


      .local-spinner {
        width: 18px;
        margin: 0 5px 0 0;
      }

      .local-loading-message {
        font-size: 12px;
        display: inline;
      }
    }
  }
}

.calendar-in-thread-details-container {
  .calendar-container {
    top: 40px;
  }
}