#event-details-template-container {
  display: none;
}

#event-details-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  display: none;
  z-index: 200;

  .event-details {
    background: white;
    width: 330px;
    height: 450px;
    position: absolute;
    text-align: left;
    transition: width 0.3s;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 5Px 5px 10px rgba(0,0,0,0.1);
    font-size: 14px;
    color: #666;

    &.editing {
      width: 700px;
    }

    .first-panel {
      position: absolute;
      width: 250px;
      height: 430px;
      top: 10px;
      left: 50px;
    }
    .second-panel {
      position: absolute;
      width: 250px;
      height: 350px;
      top: 10px;
      left: 330px;
      opacity: 1.0;
      padding: 0 10px;
      border-left: 1px solid #eee;
    }

    .title {
      margin: 0px 0 5px 0;
      padding: 5px;
      width: 100%;
      border: 1px solid #ddd;
      outline: none;
      font-size: 17px;
    }
    .date {
      padding: 5px;
      font-size: 15px;
      border: 1px solid transparent;

    }
    .border {
      border-top: 1px solid #ddd;
      margin: 10px -50px 10px -50px;
    }
    .location-container {
      position: relative;
    }
    .location-container img.location-icon {
      position: absolute;
      top: 1px;
      left: -37px;
      width: 30px;
      opacity: 0.3;
    }

    .location {
      font-size: 15px;
      padding: 5px;
      width: 100%;
      border: 1px solid #ddd;
      outline: none;
    }

    .notes {
      font-size: 12px;
      width: 100%;
      resize: none;
      border: 1px solid #ddd;
      outline: none;
      height: 90px;
      padding: 5px;
    }

    &.editing .attendees {
      display: none;
    }
    .attendees {
      word-wrap: break-word;
      overflow-x: hidden;
      overflow-y: auto;
      height: 90px;
      border: 1px solid transparent;
    }
    .attendee-text {
      font-size: 12px;
      padding: 2px 0 10px 0;
      position: relative;

      .attendee-name {
        font-size: 14px;
        line-height: 16px;
        min-height: 16px;
      }
      .attendee-email {
        color: #999;
      }

      .attendee-status {
        position: absolute;
        top: 1px;
        right: 10px;
        line-height: 16px;
        font-size: 11px;
        color: #aaa;
      }
    }
    .attendee-text.organizer {
      font-weight: bold;
      color: #000;
    }
  }

  .attendees-title {
    margin: 10px 0;
    font-size: 18px;
    color: #444;
  }
  .attendees-list {
    padding: 20px 0;
    .attendee {
      padding: 5px;
    }
  }

  .new-attendee-container {
    padding: 20px 0;
    position: relative;
  }
  input#new-attendee {
    outline: none;
    padding: 2px 5px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2;
  }
  .add-new-attendee {
    color: white;
    background: #2891D2;
    position: absolute;
    top: 0;
    left: 199px;
    width: 40px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
  }
  .notify-container {
    position: absolute;
    bottom: 45px;
    font-size: 14px;
    left: 30px;
  }

  .event-edit-buttons {
    //display: none;
    background: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    height: 55px;
    border-top: 1px solid #ddd;

    #event-edit-button, #event-delete-button, #event-save-button, #event-cancel-button {
      text-align: center;
      width: 135px;
      padding: 5px;
      line-height: 30px;
      color: white;
      bottom: 8px;
      position: absolute;
      cursor: pointer;
      border-radius: 3px;
      display: none;
    }
    #event-edit-button {
      background: #2891D2;
      left: 20px;
    }

    #event-delete-button {
      background: #c00;
      right: 20px;
    }

    #event-save-button {
      background: #35A143;
      right: 20px;
    }

    #event-cancel-button {
      background: #2891D2;
      left: 20px;
    }
  }

  .event-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    cursor: pointer;
  }

  .event-spinner {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 20px;
  }
  input:disabled, textarea:disabled {
    border-color: transparent !important;
  }

  .event-date-edit-container {
    display: none;
    margin: 5px 0 20px 20px;
    font-size: 11px;
    input[type=date] {
      text-align: center;
      line-height: 20px;
      padding: 2px 5px;
      font-size: 12px;
      font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      height: 24px;
    }
    input[type=text] {
      width: 40px;
      text-align: center;
      line-height: 20px;
      padding: 2px 5px;
      font-size: 12px;
      font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      height: 24px;
      margin: 0 10px;
    }
  }

}