<div class="meeting-rooms-manager-wrapper" ng-show="displayForm">
  <div class="section resources-section">
    <div class="header">
      <span class="sprite"></span>
      <div class="title">Resources</div>
    </div>

    <div class="body">
      <div>
        <meeting-rooms-widget ng-repeat="widget in widgets" widget-data="widget" form-disabled="formDisabled" clients-list="clientsList" currently-choosen-rooms="currentlyChoosenRooms"/>
      </div>

      <div>
        <button ng-click="addWidget()" class="add-widget-btn">+ Ajouter Salle</button>
      </div>
    </div>
  </div>
</div>