<div class="location-tile ai-suggestion-container from-ai">
    <div class="from-ai-title">Detected location</div>
    <div class="from-ai-text">
        <div class="from-ai-text-label">Detected in text</div>
        <div class="from-ai-text-text"></div>
        <div class="from-ai-text-label">Interpreted location</div>
        <div class="from-ai-interpreted-location-container">
            <div class="client-preference-icon"></div>
            <input class="from-ai-interpreted-location" disabled/>
        </div>
    </div>

    <div class="from-ai-buttons">
        <div class="from-ai-button reject"></div>
        <div class="from-ai-button accept"></div>
    </div>
</div>
