@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,500,400,300,200,100);
$pink: #f4416d;
$darkGrey: #494242;

html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  padding: 0 0 40px 0;
  position: relative;
}
.header {
  height: 40px;
  border-bottom: 1px solid #ddd;

  line-height: 40px;
  font-size: 16px;
  font-weight: 200;
  a {
    color: #444;
    text-decoration: none;
  }

}

.row.minheight {
  min-height: 100%;
  position: relative;
}

.clear {
  clear: left;
}

.page.bordered{
  border-left: 1px solid #ccc;
  padding-bottom: 20px;
}


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-top: 1px solid #ddd;

  .copyright {
    text-align: right;
    color: #666;
    font-size: 14px;
  }
}