@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,500,400,300,200,100);
$pink: #f4416d;
$darkGrey: #494242;

$darkBlue: rgba(40, 166, 203, 0.9);
$lightBlue: #E7F2F5;

html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 0 0 40px 0;
  position: relative;
}
.btn-success, .btn-success:hover {
  background-color: #2EC094 !important;
  border-color: #2EC094 !important;
}
.btn-primary, .btn-primary:hover {
  background-color: $darkBlue;
  border-color: $darkBlue;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
  padding: 0 0 0 100px;

  line-height: 40px;
  font-size: 16px;
  font-weight: 200;
  a, a:visited {
    color: #444;
    text-decoration: none!important;
  }

  .global-todo-count {
    background: #fff;
    width: 30px;
    display: inline-block;
    height: 20px;
    color: #999;
    position: relative;
    margin: 0px 0 0 5px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    top: 0px;
    border: 1px solid #ccc;
  }
  .logged-as {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
  }
}

.fixed-columns {
  padding-right: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.left-column {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 20px 0 100px;
  overflow: scroll;
}

.row.minheight {
  min-height: 100%;
  position: relative;
}

.clear {
  clear: left;
}

.page {
  position: relative;
}
#back-button {
  position: absolute;
  left: 15px;
  top: 20px;
  padding: 10px;
}
.page.bordered{
  border-left: 1px solid #ccc;
  padding-bottom: 20px;
}


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;

  .copyright {
    text-align: right;
    color: #666;
    font-size: 14px;
  }
}

.standard-panel {
  text-align: center;
  padding: 20px 0;
  width: 1100px;
  margin: 0 auto;
}