.email {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  .retracted {
    display: block;
    background: #fafafa;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }

    .subject {
      display: none;
    }
    .snippet {
      padding: 5px 10px 5px 10px;
    }
  }

  .extended {
    display: none;

    .retractable {
      cursor: pointer;
    }
  }

  &.extended {
    .extended {
      display: block;
    }
    .retracted {
      display: none;
    }
  }

  .date-and-from {
    padding: 5px 10px 5px 10px;
    .from {
      float: left;
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
    }
    .date {
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
      float: right;
    }
  }

  .subject {
    border-bottom: 1px solid #ccc;
    line-height: 20px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .to, .cc {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 10px;
    font-weight: 200;
    font-size: 14px;
    .email-label {
      color: #aaa;
    }
  }

  .actions-menu-button {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 80px;
    background: red;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #fafafa;

    &:hover {
      background: #f5f5f5;
    }
  }
  .actions-menu {
    position: absolute;
    display: none;
    top: 69px;
    right: 20px;
    width: 200px;
    height: 271px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: default;

    .secondary-actions {

    }

    .actions-separator {
      height: 10px;
      border-top: 1px solid #ddd;
      margin-top: 10px;
    }
    
    .action {
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      padding: 0 10px;
      display: block;
      color: #000;
      text-decoration: none;
      font-size: 13px;
      cursor: pointer;
      
      &:hover {
        background: #f5f5f5;
      }
    }

    &.visible {
      display: block;
    }
  }

  .body {
    //border-bottom: 1px solid #ccc;
    line-height: 20px;
    padding: 30px 10px 5px 10px;

    .wetime-date-link {
      background: #D5FF6F;
      padding: 0 5px;

      .conflict-dot {
        display: none;
      }
    }

    blockquote, .gmail_quote {
      //height: 20px;
      //overflow: hidden;
      //cursor: pointer;
      //opacity: 0.5;
      font-size: 14px !important;

      display: none;
      //&:hover {
      //  opacity: 1.0;
      //}

      //&.expanded {
      //  opacity: 1.0;
      //  height: auto;
      //}
    }
  }
}