.header.jd-global-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
  padding: 0 0 0 100px;

  line-height: 40px;
  font-size: 16px;
  font-weight: 200;

  &.full {
    z-index: 20;
  }


  .home-link {
    position: absolute;
    left: 20px;
    font-weight: 600;
  }

  .messages-thread-sumup {
    font-weight: 400;
  }


  .done-buttons {
    float: right;
    margin: -2px 5px 0 0;
    form {
      display: inline-block;
    }
    .done-button {
      display: inline-block;
      margin: 0 2px 0 0;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      padding: 4px 12px;
      line-height: 20px;
      @include border-radius(14px);
      color: white;
      border: none!important;
      outline: none;



      &:hover {
        background: white;
      }

      &.send-to-support {
        background: #d00;
      }
      &.done {
        background: #2EC094;
      }
      &.nothing-expected, &.waiting-for-reply {
        background: #db5c04;
      }

    }
  }

  &.review {
    z-index: 20;
  }
  .sound-activator {
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
    opacity: 0.2;

    &:hover {
      opacity: 0.4;
    }

    .sound-activated {
      @include common-sprite(speaker_on);
      display: none;
      width: 30px;
      height: 30px;
    }
    .sound-disactivated {
      @include common-sprite(speaker_off);
      display: block;
      width: 30px;
      height: 30px;
    }
    &.activated {
      .sound-activated {
        display: block;
      }
      .sound-disactivated {
        display: none;
      }
    }
  }

  a, a:visited {
    color: #444;
    text-decoration: none!important;

    span.version {
      font-size: 10px;
      color: #aaa;
      padding: 0 10px 0 5px;
    }
  }

  .global-todo-count {
    background: #fff;
    width: 30px;
    display: inline-block;
    height: 20px;
    color: #999;
    position: relative;
    margin: 0px 0 0 5px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    top: 0px;
    border: 1px solid #ccc;
  }
  .logged-as {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
  }

  form#review-form {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 40px;
  }
}