.messages-thread-info-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;

  border-left: 1px solid #ccc;
  padding: 10px 10px 10px 10px;
  z-index: 2;
  background-color: #fff;
  overflow: scroll;

  .message-container {
    background: rgb(87, 203, 40);
    padding: 5px 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
    margin: -10px -10px 20px -10px;
    display: none;
  }

  .account {
    font-size: 16px;

  }
  .account-details {
    font-size: 12px;

    textarea#current_notes {
      resize: none;
      width: 100%;
      font-weight: 600;
      font-size: 12px;
    }
  }

  .contacts {
    ul {
      list-style-type: none;
    }
    text-align: right;
    font-size: 12px;
  }

  .data {
    padding: 50px 0 0 0;
    .data-entry {
      .data-entry-name {
        font-size: 11px;
        opacity: 0.8;
        margin: 10px 0 0 0;
      }
      .data-entry-value {
        //font-size: 14px;


      }
      input#summary {
        &.warning {
          border-color: #d00;
        }
      }
    }

    .creating-event-message {
      padding: 5px 0;
      line-height: 30px;
      text-align: center;
    }

  }
  .save-info-container {
    display: none;
  }
}
