.forbidden-for-not-admin {
  padding: 30px 20px;
  background: #e00;
  color: white;
  .forbidden-classification-message {

  }
}

#show-calendar-button.in-classify {
  position: absolute;
  top: 70px;
  right: 20px;
}