.messages-thread-info-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;

  border-left: 1px solid #ccc;
  padding: 60px 10px 10px 10px;
  z-index: 2;
  background-color: #fff;
  overflow: scroll;
  z-index: 10;

  .only-locale-panel {
    display: none;
  }

  .classic-info-panel {

  }

  .message-container {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    background: $darkBlue;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
    display: none;
    z-index: 2;
  }

  #thread-header-other-entries-container {

    .new-events-container {
      border-bottom: 2px solid #ccc;
      margin: 0 -10px 20px -10px;
      padding: 10px;
      position: relative;
      z-index: 1;

      .new-event-tiles-container {

      }

      .new-event-tile-container {
        padding: 0 0 30px 0;
      }
    }

    .create-new-event-tile-button {
      display: block;
      margin: 20px auto;
      width: 200px;
      @include border-radius(2px);
    }
    .selected-events-list-container {
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      margin: -60px -10px 20px -10px;

      .selected-events-list {
        padding: 10px 10px 10px 10px;
      }
      .selected-events-title {
        color: $darkBlue;
        margin: 10px 0 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 200;
      }
      .selected-event {
        background: $darkBlue;
        color: white;
        text-align: left;
        padding: 10px 10px 10px 30px;
        margin: 10px 0;

        .selected-event-title {
          font-size: 15px;
        }
        .selected-event-date {
          font-size: 12px;
        }
        .selected-event-no-attendees-container {
          background: white;
          margin: 10px 0 0 0;
          position: relative;

          .selected-event-no-attendees {
            font-weight: 600;
            color: #e00;
            display: inline-block;
            padding: 3px 10px;
            font-size: 12px;
          }
          .selected-event-force-cancel {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 23px;
            color: #444;
            padding: 3px 10px;
            font-size: 12px;
            input[type=checkbox] {
              margin: 0 5px;
            }
          }
        }
      }
    }


    .time-slots-to-suggest-list-container {
      position: fixed;
      top: 40px;
      width: 350px;
      right: 0;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background-color: #fff;
      z-index: 2;

      .time-slots-to-suggest-list {
        padding: 10px 10px 30px 10px;
      }
      .time-slots-to-suggest-title {
        color: $darkBlue;
        margin: 10px 0 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 200;
      }
      .btn {
        margin: 10px 0;
      }
      .btn-success {
        margin-top: 40px;
      }
    }
  }

  .account {
    font-size: 16px;
    word-break: break-word;

    .full-name {
      font-size: 16px;
    }

    .complaints-count {
      background-color: rgb(255, 145, 0);
      color: #fff;
      padding: 5px;
    }
    .client-for-date {
      font-size: 12px;
      padding: 10px 0;

      span {
        padding: 6px 12px;
        background-color: #aaa;
        color: #fff;
        @include border-radius(14px);
      }

      &.important {
        span {
          background-color: rgb(255, 145, 0);
        }
      }
    }

    .account-email {
      font-size: 14px;
    }

    .company {
      font-size: 12px;
    }

    .account-details {
      font-size: 12px;

      textarea#current_notes {
        resize: none;
        width: 350px;
        font-weight: 400;
        font-size: 14px;
        color: #444;
        margin: 5px -10px;
        background: rgb(255, 204, 126);
        @include border-radius(0);
        border: none;
      }
      .to-founders-message-div {
        font-weight: 400;
        font-size: 14px;
        color: white;
        margin: 5px -10px;
        padding: 20px 10px;
        background: #F00000;
      }
    }

    .change-account-init-button {
      color: $darkBlue;
      text-decoration: underline;
      font-size: 12px;
      cursor: pointer;
    }
    .change-account-spinner {
      width: 20px;
      margin: 20px auto;
      display: none;
    }
    .change-account-container {
      margin: 10px -10px;
      padding: 10px;
      background: #fafafa;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      display: none;

      select#change-account-input {
        width: 250px;
        vertical-align: top;
        position: relative;
        top: 4px;
      }
    }

    .no-account-detected {
      background: #f60;
      color: white;
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      padding: 10px;

      .no-account-email {
        font-size: 12px;
        padding: 20px 0 0 0;
      }
    }

    .other-accounts {
      display: none;
      margin: 10px 0;

      .other-accounts-title {
        font-size: 14px;
        color: #aaa;
      }

      .other-accounts-list {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        .other-account {
          border-bottom: 1px solid #ccc;
          padding: 10px;

          .other-account-name {
            font-size: 14px;
          }

          .other-account-email {
            font-size: 12px;
            color: #aaa;
          }
          .other-account-timezone {
            font-size: 12px;
          }
          .other-account-preferences, .other-account-current-notes {
            font-size: 12px;
            margin: 5px 0;
          }
        }
      }
    }
  }


  .contacts {
    ul {
      list-style-type: none;
    }
    text-align: right;
    font-size: 12px;
  }

  .data {
    padding: 50px 0 0 0;
  }

    .data-entry {

      .semi-data-entry {
        display: inline-block;
        width: 40%;
      }
      .data-entry-name {
        font-size: 11px;
        opacity: 0.8;
        margin: 10px 0 0 0;
      }
      .data-entry-value {
        //font-size: 14px;
        word-break: break-word;
        input {
          word-break: normal;
        }

      }
      #contacts-data-list {
        .contact {
          position: relative;
          height: 55px;
          padding: 5px 0 0 0;
        }
        input[type=checkbox] {

        }
        .attendee-name-and-email {
          position: absolute;
          width: 210px;
          top: 0;
          left: 20px;
          input#attendee_name {
            width: 100%;
          }
          .attendee-email {
            font-size: 12px;
            color: #999;
          }
        }
      }
      input#summary {
        &.warning {
          border-color: #d00;
        }
      }

      select#location_nature {
        margin-bottom: 5px;
      }

      .add-attendee-container {
        position: relative;
        margin: 10px 0 0 20px;

        input {
          padding-right: 65px;
          width: 100%;
        }
        .btn {
          position: absolute;
          right: 2px;
          top: 2px;
          width: 55px;
        }
      }

      .different-timezone-warner {
        background: #e00;
        color: white;
        text-align: center;
        margin: 10px -10px;
        padding: 20px;
        display: none;
      }

    }

    .creating-event-message {
      padding: 5px 0;
      line-height: 30px;
      text-align: center;
    }

  .save-info-container {
    display: none;
  }

  .dates-identification-panel {
    display: none;
  }



  .linear-form-entry {
    .validate-linear-form-entry-button {
      width: 100px;
      margin: 10px 0 10px 230px;
    }
  }

  .send-to-founders-container {
    background: #f0f0f0;
    margin: 10px -10px 0 -10px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .add-preference-panel {
    display: none;

    .add-preference-data-entry {

      .data-entry-name {
        font-size: 11px;
        opacity: 0.8;
        margin: 10px 0 0 0;
      }

      textarea#preference_to_add {
        height: 100px;
        width: 100%;
        resize: none;
        border: 1px solid #ccc;
      }
    }
  }
}
.associate-to-account-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0 0 0;
  input#account-email-input {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    margin: 10px 0 20px 0;
  }
}
