

.email-classifications {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;

  .primary-classification-buttons {

  }

  .secondary-classification-buttons {
    display: none;
  }

  .classification-button-block {
    display: inline-block;
    width: 45%;
    margin: 5px 2%;
  }
}


.emails-list {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: 50px 0 0 0;

  .email-item {
    display: block;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    padding: 0 10px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    color: #444;

    &:hover {
      background-color: #fafafa;
    }

    .from {
      display: inline-block;
      width: 250px;
      font-weight: 600;
    }

    .subject {
      font-weight: 600;
      padding: 0 10px 0 0;
    }
  }
}



.classification-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  text-align: center;

  textarea {
    height: 100px;
    resize: none;
  }

  .already-suggested-dates-container {
    .already-suggested-dates {
      text-align: left;
      width: 300px;
      margin: 30px auto 10px auto;
      border-top: 1px solid #ccc;
      font-size: 14px;

      .already-suggested-date {
        border-bottom: 1px solid #ccc;
        line-height: 25px;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #fffff5;
        }
      }
    }
  }
  .detected-dates-container {
    .detected-dates {
      border-top: 1px solid #ccc;
      width: 500px;
      margin: 30px auto 10px auto;
      .detected-date {
        border-bottom: 1px solid #ccc;
        line-height: 25px;
        padding: 5px;
        text-align: left;
        position: relative;

        .detected-date-text {
          display: inline-block;
          width: 170px;
          margin: 0 10px 0 0;
        }

        .detected-date-radios {
          display: inline-block;
          width: 170px;
          margin: 0 10px 0 0;

          input[type=radio] {
            margin: 0 5px 0 10px;
          }
        }
        .detected-date-freetext-container {
          position: absolute;
          top: 0;
          left: 180px;
          width: 320px;
          height: 40px;
          padding: 5px;
          background: #fff;

          input.detected-date-freetext {
            width: 310px;
          }
        }
        .detected-date-date {
          display: inline-block;
          width: 100px;
          width: 200px;
          margin: 0 10px 0 0;
          text-align: center;
        }
        .detected-date-real-date {
          display: none;
        }

        .detected-date-time {
          display: inline-block;
          width: 100px;
          text-align: center;
        }
        .detected-date-remove-button {
          position: absolute;
          right: -35px;
          line-height: 35px;
          width: 35px;
          text-align: center;
          cursor: pointer;
          top: 0;
        }
      }
    }
    .add-detected-date-button-container {
      width: 500px;
      margin: 10px auto;
      text-align: right;
    }
  }
}

iframe {
  margin: 0 0 0 -218px;
  border: 1px solid #aaa;
  width: 1180px;
  height: 600px;
}