$blue: rgb(0,153, 204);

.operator-stats-container {
  padding: 50px 0 0 0;

  .previous-errors-link {
    color: $blue;
    text-decoration: underline;
  }

  table.review-stats-table {
    width: 100%;
    margin: 0 0 80px 0;

    tr {
      height: 50px;

      th {
        text-align: center;
        border-bottom: 1px solid $darkBlue;
        border-top: none;
        font-weight: 400;
        vertical-align: top;

        &.title-th {
          text-align: left;
          color: $darkBlue;
          font-size: 24px;
          font-weight: 200;
        }

        .subheader {
          font-size: 11px;
          color: #aaa;
          font-weight: 200;
        }
      }
      td {
        text-align: center;
        height: 40px;
        border-bottom: 1px solid #ccc;
        border-top: none;
        width: 80px;

        &:nth-child(1) {
          text-align: left;
          width: auto;
        }
      }
    }

  }

  .title-errors {
    margin: 40px 0px;
    color: $blue;
  }

  table.review-errors-table {
    width: 100%;
    margin: 0 0 80px 0;

    thead {
      font-size: 16px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $blue;

      th:nth-child(2) {
        text-align: center;
      }
    }

    tbody {
      tr {
        border-bottom-style: solid;
        border-bottom-width: 1px;

        td {
          padding: 5px 0px;

          &:nth-child(1) {
            vertical-align: top;
          }

          &:nth-child(2) {
            vertical-align: top;
            text-align: center;
            width: 10%;
          }

          &:nth-child(3) {
            width: 70%;
            padding-right: 5px;
            word-break: break-word;
          }

          &:nth-child(4) {
            vertical-align: top;
            text-align: right;

            a {
              color: $blue;
              text-decoration: underline;
            }
          }

        }

      }


    }
  }
}