.operators-presence-container {
  width: 984px;
  margin: 20px auto 0 auto;

  .table-container {
    position: relative;
  }
  
  .week-number {
    font-size: 25px;
    font-weight: bold;
  }

  #planning_constraints_upload_form {
    // To put the file form out of view
    position: absolute;
    left: -500px;
  }

  table {
    overflow-x: visible;
    overflow-y: visible;
    width: 984px;
    display: block;

    tr th {
      height: 60px;

      &.hour {
        font-size: 12px;
        font-weight: 400;

        &:nth-child(even) {
          background: #fafafa;
        }

        &.main-of-day {
          font-weight: 800;
          background: #C1E2F5;
        }
      }
    }

    tr td {
      cursor: pointer;
      height: 20px;
      line-height: 20px;
      padding: 0;
      font-size: 12px;

      .operator-working-hours {
        float: right;
        margin-right: 5px;
      }

      &:nth-of-type(4n+2), &:nth-of-type(4n+3) {
        background: #fafafa;
      }

      &.selected {
        background: #0099cc;
      }

    }
    tr td.fixed, tr th.fixed {
      position: absolute;
      left: -120px;
      width: 120px;
      border-right: 1px solid #eee;
    }

    tr td.day-counts {
      font-size: 12px;
      text-align: center;
      color: #0a0;
      font-weight: 800;
      width: 21px;
      line-height: 14px;
      padding: 5px 0;
    }
    tr td.warn {
      color: #cc0000;
    }
    tr td.warn2 {
      color: #FF6E00;
    }
  }

  .loading {
    position: fixed;
    top: 0;
    left: 50%;
    background: #0099cc;
    color: white;
    width: 160px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    margin-left: -100px;
    border-radius: 0 0 4px 4px;
  }

  .ai-thinking {
    position: fixed;
    top: 0;
    left: 30%;
    background: #36cc52;
    color: white;
    width: 160px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    margin-left: -100px;
    border-radius: 0 0 4px 4px;
  }

  .save-succeeded {
    position: fixed;
    top: 0;
    left: 70%;
    background: #3bcc00;
    color: white;
    width: 160px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    margin-left: -100px;
    border-radius: 0 0 4px 4px;
    opacity: 0;
  }

  .save-error {
    position: fixed;
    top: 0;
    left: 70%;
    background: #cc0700;
    color: white;
    width: 160px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    margin-left: -100px;
    border-radius: 0 0 4px 4px;
    opacity: 0;
  }

  .save-succeeded.appear, .save-error.appear {
    opacity: 1;
  }

  .save-succeeded.disappear, .save-error.disappear {
    animation-name: save-disappear;
    animation-duration: 1s;
    opacity: 0;
  }

  @keyframes save-disappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .day-buttons {
    position: absolute;
    top: 0;
    right: -130px;
  }
  .day-buttons .btn {
    width: 120px;
    display: block;
    margin: 5px 0;
  }

  #by-julie {
    position: absolute;
    left: 75%;
  }
}