.operators-page {
  position: relative;
  padding: 50px 0 0 0;
}
.operators-list {
  position: absolute;
  left: 0;
  border-right: 1px solid #ccc;
  width: 200px;
  padding: 0 20px 0 0;

  .operator {
    a {
      cursor: pointer;
      color: #7897E0;

      &.hover {
        text-decoration: underline;
      }
    }
  }
}
.operators-container {
  padding-left: 250px;
  .operator-container {

    .review-column {
      float: left;
      width: 260px;
      height: 400px;
      padding: 0 80px 0 0;

      .review-column-title {
        color: $darkBlue;
        border-bottom: 1px solid $darkBlue;
        font-size: 16px;
        margin: 0 0 10px 0;
      }

      .review-stat {
        width: 100%;
        clear: left;

        .review-stat-name {
          float: left;
          font-weight: 200;
        }
        .review-stat-value {
          float: right;
        }
      }
    }
  }
}

.review-archived-container {
  text-align: center;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #ccc;
  height: 65px;
  background: #f5f5f5;


  .date {
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    float: right;
  }
  .operator-and-action-container {
    position: absolute;
    top: 30px;
    right: 0px;
    .operator {
      float: right;
      margin: 0 10px;
      padding: 0 8px;
      background-color: white;
      color: #646161;
      border-radius: 4px;
      line-height: 20px;
      font-size: 12px;
      border: 1px solid #ddd;
    }
    .nature {
      background: $darkBlue;
      color: white;
      @include border-radius(4px);
      float: right;
      padding: 1px 5px;
      font-size: 12px;
      margin: 2px 0px;
    }
  }
}

.review-list-container {
  padding: 0 0 0 250px;
}

.events-review-link {
  color: black;
  .event-title {
    font-weight: 600;
  }
}

.preview-header {
  line-height: 40px;
  background: $darkBlue;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.messages-thread-status-for-review {
  margin: 50px 0 -50px 0;

  &.turing {
    margin: 50px 0 0px 0;
  }
}

.review-dashboard {
  h1, h1 a {
    color: $darkBlue !important;
    font-weight: 100 !important;
    font-size: 30px !important;
    text-decoration: none !important;
  }

  #reviewGlobalStats  th {
    font-weight: 400;
    color: #428bca;
  }
  #reviewGlobalStats tbody td:first-child {
    font-weight: 400;
  }

  .main-coverage {
    font-size: 30px;
    font-weight: 100;
  }
  .main-reviews-count {
    font-size: 20px;
    font-weight: 100;
  }
  .main-actions {
    padding: 30px 0 100px 0;

    .btn {
      width: 200px;
    }

    .flag-actions, .group-review-actions {
      padding: 10px 0;

      span {
        font-size: 18px;
        font-weight: 100;
        padding: 0 0 0 10px;
      }
    }
  }
  
  table {
    th {
      font-size: 20px;
      font-weight: 100;
    }
    td {
      font-size: 16px;
      line-height: 33px !important;
    }
  }
}