<div class="col-md-8 col-md-offset-2">
  <h1>Backoffice</h1>

  <div class="alert">
    <p>Please login to access to the backoffice</p>
    <br>
    <a class="btn btn-success" href="/process_login?url=<%= params[:url] %>">Login</a>
  </div>

</div>
