<div class="header">

    <%= link_to "JD", "/", class: "home-link" %>

    <%= audio_tag "ding.mp3", id: "tada-sound", preload: "auto" %>

    <%= local_assigns[:messages_thread].account_email %> - <%= local_assigns[:messages_thread].subject %>
</div>