<div class="header jd-global-header">

    <%= link_to "JD", "/", class: "home-link" %>

    <%= audio_tag "ding.mp3", id: "tada-sound", preload: "auto" %>

  <span class="messages-thread-sumup"><%= local_assigns[:messages_thread].account_email %> - <%= local_assigns[:messages_thread].subject %></span>
</div>