<h1>Semaine 32</h1>
<h2>25 abril 2032</h2>

<div>
  Mail traités
  320
</div>

<div>
  75% des emails traités
  33 min
</div>

<div>
  Review
  15%
</div>

<div>
  Erreurs
  3%
</div>

<% start_of_week = DateTime.now.beginning_of_week %>
<% (0..6).each do |i| %>
<% date = sta
<% end %>