<div class="constraint-tile">
    <div class="constraint-attendee-container constraint-entry-container">
        <div class="constraint-label">Who</div>
        <select class="constraint-attendee-email"></select>
    </div>
    <div class="constraint-nature-container constraint-entry-container">
        <div class="constraint-label">Nature</div>
        <select class="constraint-nature">
            <option value="cant">Can't</option>
            <option value="can">Can only</option>
            <option value="prefers">Prefers</option>
        </select>
    </div>

    <div class="constraint-dates-container constraint-entry-container">
        <div class="constraint-label">When</div>
        <select class="constraint-when-nature">
            <option value="this-week">This week</option>
            <option value="next-week">Next week</option>
            <option value="always">Always</option>
            <option value="custom">Custom</option>
        </select>

        <div class="constraints-start-end-recurring-container">
            <input class="constraint-start-recurring"/>
            to
            <input class="constraint-end-recurring"/>
        </div>

        <div class="constraint-dates-days-of-week-container">
            <div class="day-of-week">
                <input type="checkbox" value="0" checked/> <span></span>
            </div>
            <div class="day-of-week">
                <input type="checkbox" value="1" checked/> <span></span>
            </div>
            <div class="day-of-week">
                <input type="checkbox" value="2" checked/> <span></span>
            </div>
            <div class="day-of-week">
                <input type="checkbox" value="3" checked/> <span></span>
            </div>
            <div class="day-of-week">
                <input type="checkbox" value="4" checked/> <span></span>
            </div>
            <div class="day-of-week">
                <input type="checkbox" value="5" checked/> <span></span>
            </div>
            <div class="day-of-week">
                <input type="checkbox" value="6" checked/> <span></span>
            </div>
        </div>

      </div>

    <div class="constraint-dates-container constraint-entry-container">
        <div class="constraint-label">Time</div>
        <div class="constraint-start-time-end-time-container">
            <select class="constraint-start-time-end-time-nature">
                <option value="all-day">All day</option>
                <option value="custom">Custom</option>
            </select>

            <div class="constraint-start-hours-end-hours-container">
                <input class="constraint-start-hours"/> h <input class="constraint-start-minutes"/>
                To
                <input class="constraint-end-hours"/> h <input class="constraint-end-minutes"/>

                <div class="timezone-container">
                    Timezone: <input class="timezone"/>
                </div>

            </div>
        </div>
    </div>

    <div class="constraint-sentence"></div>


    <div class="remove-constraint-button-container">
        <div class="remove-constraint-button btn btn-danger btn-xs">Remove</div>
    </div>

    <div class="constraint-data"></div>
</div>
