<div class="constraint-tile input-like">
    <div class="constraintInvalid constraintLayer" style="display: none">
        <span class="constraintStatus invalidStatus fa-stack fa-fw" title="Contrainte invalide">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
    </div>

    <div class="constraintDisabled constraintLayer" style="display:none">
        <span style="display: none" class="constraintStatus optionalStatus fa-stack fa-fw" title="Participant optionnel">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-question fa-stack-1x fa-inverse"></i>
        </span>

        <span style="display: none" class="constraintStatus notPresentStatus fa-stack fa-fw" title="Non participant">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-times fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="from-ai-title">Detected constraint</div>
    <div class="from-ai-text">
        <div class="from-ai-text-label">Detected in text</div>
        <div class="from-ai-text-text"></div>
        <div class="from-ai-text-label">Interpreted constraint</div>
    </div>
    <div class="constraint-editing-container">
    <div class="constraint-attendee-container constraint-entry-container">
        <div class="constraint-label">Who</div>
        <select class="constraint-attendee-email"></select>
    </div>
    <div class="constraint-nature-container constraint-entry-container">
        <div class="constraint-nature-selector custom-selector input-like">
            <div class="nature-option" data-value="cant">Can't</div>
            <div class="nature-option selected" data-value="can">Can only</div>
            <div class="nature-option" data-value="prefers">Prefers</div>
        </div>
    </div>

    <div class="constraint-dates-container constraint-entry-container">
        <div class="constraint-label">When</div>


        <div class="constraint-when-nature-selector custom-selector input-like">
            <div class="nature-option selected" data-value="custom">Custom</div>
            <div class="nature-option" data-value="from_date">From</div>
            <div class="nature-option" data-value="range">Range</div>
            <div class="nature-option" data-value="always">Always</div>
        </div>

        <div class="constraint-calendar-tile-container">

        </div>

        <div class="constraint-dates-days-of-week-container">
            <div class="quick-selector-container">
                <div class="quick-selector input-like"></div>
            </div>

            <div class="day-of-week input-like" data-value="0">Sun</div>
            <div class="day-of-week input-like" data-value="1">Mon</div>
            <div class="day-of-week input-like" data-value="2">Tue</div>
            <div class="day-of-week input-like" data-value="3">Wed</div>
            <div class="day-of-week input-like" data-value="4">Thu</div>
            <div class="day-of-week input-like" data-value="5">Fri</div>
            <div class="day-of-week input-like" data-value="6">Sat</div>
        </div>

      </div>

    <div class="constraint-dates-container constraint-entry-container">

        <div class="constraint-start-time-end-time-container">

            <div class="constraint-start-time-end-time-nature-selector custom-selector input-like">
                <div class="nature-option selected" data-value="all_day">All day</div>
                <div class="nature-option" data-value="morning">Morning</div>
                <div class="nature-option" data-value="afternoon">Afternoon</div>
                <div class="nature-option" data-value="custom">Custom</div>
            </div>

            <div class="constraint-start-hours-end-hours-container">
                <div class="constraint-label">Time</div>
                <br>
                <input class="constraint-start-hours"/><span class="constraint-time-separator"> h </span><input class="constraint-start-minutes"/>
                To
                <input class="constraint-end-hours"/><span class="constraint-time-separator"> h </span><input class="constraint-end-minutes"/>
                <span id="startEndTimeError" class="error" style="display:none">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>début >= fin
                </span>



                <div class="timezone-container">
                    <div class="constraint-label">Timezone:</div>
                    <br>
                    <input class="timezone"/>
                </div>

            </div>
        </div>
    </div>

    </div>

    <div class="constraint-sentence"></div>

    <div class="constraint-buttons-container">
        <div class="expand-constraint-button btn btn-default btn-xs">Modify</div>
        <div class="minimize-constraint-button btn btn-default btn-xs">Minimize</div>
        <div class="clone-constraint-button btn btn-default btn-xs">Clone</div>
        <div class="remove-constraint-button btn btn-danger btn-xs">Remove</div>
    </div>
    <div class="from-ai-buttons">
        <div class="from-ai-button reject"></div>
        <div class="from-ai-button accept"></div>
    </div>

    <div class="constraint-data"></div>
</div>
